<div *ngIf="todo">
    <h2>Todo Details</h2>

    <table class="table">
        <thead>
            <tr>
                <th>TASK</th>
                <th>REGIST-DATE</th>
                <th>UPDATE-DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{todo._text}}</td>
                <td>{{todo._detail._registDate | date:"yy/MM/dd HH:mm"}}</td>
                <td>{{todo._detail._updateDate | date:"yy/MM/dd HH:mm"}}</td>
            </tr>
        </tbody>
    </table>
</div>

<button [ngClass]="'button--green'" (click)="goBack()">go back</button>